html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
      }

#map {
  height: 100%;
  width: 100%;
}

.container-search {
  width: auto;
  position: absolute;
  z-index: 100;
  top: 5px;
  padding: 0 5px;

}

.meetup-list {
  color: white;
  width: 300px;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  padding: 0;
}

.list {
    list-style-type: none;
    width: 300px;
    padding: 0;
    overflow: scroll;
    overflow-x: hidden;
    height: 500px;

}

.list-item{

    border-color: grey;
    border-style: ridge;
    background-color: grey;
    width: 280px;

}

.list-item:hover{
  font-weight: bold;

}

.controls .input-group-description {
  display: inline-block;
}

@media (max-width: 770px) {
  .meetup-list{
    top: 70vh;
    width: 100vw;
  }
  .list{
    height: 28vh;
    bottom: 0;
    width: 100vw;
  }
  .list-item{
    width: 100vw;
  }

}
